@model IEnumerable<PostgreHotel.Data.gosti>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.gostid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.gostid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.gostid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
