@model IEnumerable<PostgreHotel.Data.zaposlenici>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.poziija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotelid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.poziija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotelid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.zaposlenikid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.zaposlenikid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.zaposlenikid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
