@model IEnumerable<PostgreHotel.Data.sobe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tipsobe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.brojkreveta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hotelid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipsobe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.brojkreveta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hotelid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.sobaid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.sobaid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.sobaid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
